<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Popup ANY>
<!ATTLIST Popup id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1053" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1051" template="1054" sortOrder="0" createDate="2012-11-18T12:47:46" updateDate="2012-11-19T17:28:47" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1053" isDoc="" />
  <Popup id="1058" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1057" template="1056" sortOrder="1" createDate="2012-11-19T18:24:20" updateDate="2012-11-19T18:24:25" nodeName="Authentication" urlName="authentication" writerName="admin" creatorName="admin" path="-1,1058" isDoc="" />
  <Article id="1126" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1124" template="1125" sortOrder="2" createDate="2012-11-22T22:20:25" updateDate="2012-11-23T08:40:00" nodeName="prueba" urlName="prueba" writerName="admin" creatorName="admin" path="-1,1126" isDoc="">
    <introduccion><![CDATA[Este artículo es una moñada, mejor no verlo]]></introduccion>
    <articulo><![CDATA[<p>El artículo en general es una puta mierda.</p>
<p>Aquí pongo una foto de una tía en pelotas:</p>
<p> <img src="/media/3/motoloco_126x126.jpg"  width="126"  height="126" alt="Motoloco"/></p>
<p>Y a continuación sigo hablando de lo que me salga de los cojones.</p>
<p> </p>]]></articulo>
    <titulo>Articulín</titulo>
  </Article>
</root>