<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
  

<asp:Content ID="Content1" ContentPlaceHolderId="ForumBody" runat="server">
  <umbraco:Macro Alias="nForumSearchResults" runat="server"></umbraco:Macro>
</asp:Content>